@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color: #333;
}

body {
  font-family: 'Red Hat Text', Arial;
}

.blank {
  height: 100vh;
}

.container-sub-1 {
  font-size: 4vw;
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/bg-3.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#heading span {
  font-size: 10vw;
}

.container-sub-2 {
  background-image: url(../images/bg-2.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.introduction span,
.contact span {
  font-size: 10vw;
}

.skill-list {
  margin-top: 10vw;
}

.skill-list h1 {
  font-size: 8vw;
}

.skill-bar {
  margin-top: 5vw;
}

.skill-bar a,
.contact p {
  font-size: 4vw;
}

.progress {
  height: 3w;
}

.progress-bar {
  font-size: 3vw;
}

.project-heading span {
  font-size: 8vw;
}

#navbar {
  height: 10vw;
  font-size: 3vw;
}

#card {
  border: none;
  font-size: 4vw;
}

@media (min-width: 1280px) {
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  :root {
    --color: #333;
  }

  body {
    font-family: 'Red Hat Text', Arial;
  }

  .blank {
    height: 90vh;
  }

  .container-sub-1 {
    font-size: 4vw;
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/bg-2.jpeg);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  #heading span {
    font-size: 5vw;
  }

  #social a {
    font-size: 2vw;
  }

  .container-sub-2 {
    background-image: url(../images/bg-2.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .introduction span {
    font-size: 4vw;
  }

  .contact span {
    font-size: 3vw;
  }

  .contact p {
    font-size: 1vw;
  }

  .social-list svg {
    width: 1vw;
    height: 1vw;
  }

  .skill-list {
    margin-top: 5vw;
  }

  .skill-list h1 {
    font-size: 3vw;
  }

  .skill-bar {
    margin-top: 2vw;
  }

  .skill-bar a {
    font-size: 2vw;
  }

  .progress {
    height: 1vw;
  }

  .progress-bar {
    font-size: 1vw;
  }

  .project-heading span {
    font-size: 4vw;
    margin-top: 100px;
  }

  #navbar {
    height: 50px;
    font-size: 20px;
    position: fixed;
    top: 0;
    background-color: black;
  }

  #card {
    border: none;
    font-size: 4vw;
  }
}